@mixin pinkButton {
        background: linear-gradient(0deg, $purple, $pink );
        color: white;
        width: 500px;
        height: 110px;
        border-radius: 70px;
        font-size: 35px;
        border: none;
}
@mixin Shrikhand {
    font-family: 'Shrikhand' , serif;
}

@mixin FonctionneList {
        font-size: 40px;
        min-width: 850px; 
        min-height: 160px;
        margin-bottom: 50px;
        border-radius: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center; 
        box-shadow: 0 10px 35px gray;
        > p 
        {
            font-weight: bold;
            margin-right: 50px;
        }
}

@mixin footPage {
        display: flex;
        text-decoration: none;
        color: white;
        font-weight: bold;
        margin-top: 15px;
        margin-right: 15px;
        align-items: center;
}
@mixin NotifNew {
        border-radius: 5px;
        width: 200px;
        height: 70px;
        color: $darkGreen;
        background-color: $green;
        display: flex;
        justify-content: center;
        align-items: center;
        position:absolute;
        top: 45px;
        right: 45px;
        > p 
        {
                margin: 0;
        }
}

//transition
@mixin bTrans {
        transition: $basicTrans;
}
@mixin sTrans {
        transition: $slowTrans;
}
@mixin fTrans {
        transition: $fastTrans;
}