// colors
$purple: #9356DC;
$pink: #FF79DA;
$lightPurple: #a15ff1;
$lightPink: #fc95df;
$prune: #f5edff;
$green: #99E2D0;
$darkGreen: #098d6d;
$grisSombre: #eaeaea;
$grisClair: #f6f6f6;
$noir: #353535;

// transitons
$basicTrans: 0.5s ease;
$slowTrans: 1s ease;
$fastTrans: 0.3s ease;