@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap');

    body 
    {
        font-family: 'Roboto' , serif;
        margin: 0px;
    }
    
@media (min-width: 900px) /*mobile*/ 
{
    .headLogo 
    {
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid black 1px;
    }
    .imgLogo 
    {
        max-width: 300px;
    }
    .localisation 
    {
        display: flex; 
        justify-content: center;
        align-items: center;
        background-color: $grisSombre;
        > p
            {
                font-size: 45px;
                font-weight: bold;
                margin-left: 25px;
            }
    }
    .posIcon 
    {
        font-size: 25px;
    }
    .reservContainer 
    {
        min-height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $grisClair;
    }
    .reservTitle 
    {
        font-size: 60px;
        font-weight: bold;
        width: 65%;
    }
    .reservSubTitle
    {
        font-size: 45px;
    }
    
    .ButtonPink {
        @include pinkButton;
    }
    .containerfonction 
    {
        background-color: $grisClair;
        @include FonctionneList;
    }
    .containerDegust 
    {
        background-color: $prune;
         @include FonctionneList;
    }
    .fonctionTitle {
        font-size: 40px;
        margin-left: 50px;
        margin-top: 40px;
        display: flex;
        align-items:flex-start;
        font-weight: bold;
    }
    .fonctionList {
        min-height: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fonctionIcon 
    {
        margin-right: 60px;
        color: grey;
    }
    .fonctionNum 
    {
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        background-color: $purple;
        border: 1px solid black ;
    }
    .storeIcon
    {
        color: $purple;
        margin-right: 60px;
    }
    .restauBody 
    {
        height: 3250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $grisClair;
    }
    .restaurantTitle {
        font-size: 50px;
        display: flex;
        justify-content: flex-start;
        background-color: $grisClair;
        > h1 {
            margin-bottom: 15px;
            margin-left: 30px;
            margin-top: 100px;
        }
    }
    .restauName
    {
        margin: 30px;
        background-color: white;
        border-radius: 30px;
    }
    .restauFrame 
    {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        font-size: 35px;
        > h4 {
            margin-bottom: 0px;
            font-weight: bold;
            color: black;
        }
        > p {
            color: black;
            margin-top: 0px;
        }
    }
    .menuTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
    .heartIcon
    {
        font-size: 80px;
        margin-right: 80px;
        margin-top: 60px;
        /* animation */
    }
    .MenuImg
    {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 30px 30px 0 0;
    }

    .footerPage 
    {
        height: 400px;
        margin: 0;
        background-color: $Noir;
    }
    .footerLogo 
    {
        font-family: 'Shrikhand' , serif;
        font-size: 45px;
        margin-left: 30px;
        color: white;
    }
    .footText {
        font-size: 40px; 
          margin-left: 30px;
    }
    .footLink 
    {
        @include footPage;
    }
}
