@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");

body {
    font-family: "Roboto", serif;
    margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}
// Media queries
@media screen and (max-width: 900px) /*mobile*/ {
    .restauName {
        width: 100%;
    }
    .Logo{
        font-size: 2.5em !important;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .footerLogo{
        font-size: 1.5em !important;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .mq-wr{
        flex-flow:  column wrap;
    }
}
@media screen and (min-width: 900px) /*desktop*/ {
    .nw{
        flex-wrap: nowrap !important;
    }
    .containerfonction{
        margin: 0 15px 40px 15px !important;    
    }
    .restauName {
        width: 30% !important;
    }
    .mq-wr{
        flex-flow:  row wrap;
        justify-content: space-between !important;
    }
    .restauName{
        margin: 15px !important;
        min-width: 300px;
        flex-grow: 1;
    }
    .blocNew{
        font-size:  1em !important;
    }
}

// Global props
.mq-wr{
    width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.title {
    font-size: 1.5em;
    display: flex;
    justify-content: flex-start;
}
.padder{
    padding: 0px 20px 0px 20px;
}
.margUp{
    margin-top: 30px;
}

// Nav
.headLogo {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 8px rgba($color: #000000, $alpha: 0.2);
}
.Logo {
    font-family: "Shrikhand", serif;
    font-size: 80px;
    text-decoration: none;
    color: black;
}

// Localisation Header
.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grisSombre;
    > p {
        font-size: 1.5em;
        margin-left: 25px;
        font-weight: 800;
    }
}
.posIcon {
    font-size: 1.5em;
}

// Reservation Header
.reservContainer {
    min-height:fit-content;
    padding: 0px 10px 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $grisClair;
    text-align: center;
}
.reservTitle {
    font-size: 2em;
    margin: 40px 0px 0px 10px;
    width: 100%;
}
.reservSubTitle {
    font-size: 1.3em;
    font-weight: 300;
    margin: 10px 0px 40px 0px;
}
.ButtonPink {
    @include pinkButton;
}

// HowTo(basics) Fonctionnement

.wrapper-function{
    display: flex;
    flex: row;
    justify-content: flex-start;
    align-items: center;
}
.containerfonction {
    background-color: $grisClair;
    @include FonctionneList;
    font-size: 2em;
}
.function-text{
    font-size: 0.5em;
    font-weight: 600;
    margin-left: 10px;
}
.containerDegust {
    background-color: $prune;
}
.fonctionList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:12.5px ;
}
.fonctionIcon {
    font-size: 0.7em;
    width: 5%;
    margin-right: 0px;
    color: grey;
    display: flex;
    justify-content: center;
}
.fonctionNum {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 25px;
    max-height: 25px;
    min-width: 25px;
    min-height: 25px;
    padding:2px;
    font-size: 0.4em;
    font-weight: 300;
    border-radius: 100px;
    background-color: $purple;
    position: relative;
    left: -15px;
}
.storeIcon {
    color: $purple;
    font-size: 0.7em;
    width: 5%;
    margin-right: 0px;
    display: flex;
    justify-content: center;
}
 


//  Restaurants
.restauTitle{
    align-self: flex-start;
}
.restauBody {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $grisClair;
}
.restaurantTitle {
    font-size: 50px;
    display: flex;
    justify-content: flex-start;
    background-color: $grisClair;
    > h1 {
        margin:  100px 0px 0px 15px;
    }
}
.restauName {
    width: 100%;
    position: relative;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    margin: 20px 0px 20px 0px;
}
.restauFrame {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 0 10px 45px $grisSombre;
    border-radius: 30px 30px 0 0;
    font-weight: 700;
    > p {
        color: black;
        margin-top: 0px;
        font-size: 2em;
        font-weight: 400;
        margin: 0 0 30px 35px;
    }
}
.menuTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 0 10px 0;
}
.rf-marg{
    margin-left: 20px;
}
.rf-Title{
    color: black;
    font-size: 1.5em;
    margin: 20px 0px 10px 0px;
}
.rf-Text{
    color: black;
    font-size: 1em;
    margin: 0;
    margin: 0px 0px 10px 0px;
}
.heartIcon {
    display: flex;
    justify-content: center;
    font-size: 3em;
    transition: opacity $basicTrans;
    margin-right: 20px;
    &:hover {
        .heartEmpty {
            opacity: 0;
            transition: opacity $basicTrans;
        }
        .heartFilled{
            background: linear-gradient(0deg, $purple, $pink);
            -webkit-background-clip: text;
            background-clip: text; 
            -webkit-text-fill-color: transparent;
            opacity: 1;
            transition: opacity $fastTrans;
        }
    }
}
.heartEmpty {
    color: black;
    position: relative;
    transition: opacity $basicTrans;
}
.heartFilled {
    background: linear-gradient(0deg, $purple, $pink);
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    opacity: 0;
    position:  absolute;
    transition: opacity $basicTrans;
}
// Restaurants Images
    .leDeliceImg{
        background-image:  url("img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    }
    .francaiseImg{
        background-image: url("img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    }
    .enchanteeImg{
        background-image: url("img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    }
    .duGoutImg{
        background-image: url("img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    }
    .restauImg{
        &:hover{
            opacity: 0.69;
            transition: $fastTrans;
        }
        border-radius: 30px 30px 0 0;
        width: 100%;
        height: 350px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: $fastTrans;
    }
.blocNew {
    border-radius: 5px;
    color: $darkGreen;
    background-color: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    font-size: 2em;
    padding: 10px 15px 10px 15px;
    > p 
    {
            margin: 0;
    }
    margin:30px;
    right: 0;
    pointer-events: none;
}


// Footer
.footerPage {
    margin: 0;
    padding: 50px;
    background-color: $noir;
}
.containerList {
    padding: 0;
}
.footerLogo {
    font-family: "Shrikhand", serif;
    font-size: 55px;
    color: white;
}
.footerList {
    list-style: none;
    margin-bottom: 15px;
}
.footText {
    font-size: 1em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.616);
    transition: $basicTrans;
    &:hover{
        color: white;
        transition: $basicTrans;
    }
}
.footIcon {
    width: 25px;
    font-size: 1em;
    color: white;
}
.footIcon-container{
    display: flex;
    justify-content: center;
}

// Scroll bar
body::-webkit-scrollbar {
    width: 10px; 
}

body::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 5px solid rgba(128, 128, 128, 0);
    -webkit-transition: $basicTrans;
    transition: $basicTrans;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: black;
    border-radius: 20px;
    border: 5px solid rgba(128, 128, 128, 0);
    -webkit-transition: $basicTrans;
    transition: $basicTrans;
    cursor: pointer;
}

body::-webkit-scrollbar-thumb:focus {
    background-color: black;
    border-radius: 20px;
    border: 5px solid rgba(128, 128, 128, 0);
    -webkit-transition: $basicTrans;
    transition: $basicTrans;
}